@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}



header{
    background-color: #2e2e2e;
    box-shadow: 0px 2px 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 4rem;
}

.logo{
    display:block;

}

.logo-img{
 height: 70px;
 weight: 70px;
 margin: -13px;
 padding-left: 5px;
    
}

.logo h1{
    color: white;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-item :hover{
    font-size: 150%;
    transition: .3s;
}

.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    transition: .3s;
}
.login-btn{
    padding-top: 2px;
    list-style-type: none;
    position: relative;
    display: inline-block;
}



/* login button */

.button_login{
    border: none;
    padding: 10px 15px;
    background: #e0a464;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: .3s;


} 

.button_login:hover{
    background: white;
    color:  #2e2e2e;
    transition: .3s;
}

/* drop down button */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0a464;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    right: auto;
    transform: translateX(-100%);
    text-align: auto;
    font-size: 1.1rem;
    font-weight: 500;
    
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display:flex;
    border-radius: 5px;

  }
  
  .dropdown-content a:hover {
    background-color:  #d39d62;
    border-radius: 5px;
}
  
  .login-btn:hover .dropdown-content {
    display: block;
    border-radius: 5px;
    
  }
  
/*icon*/

.dropdown-icon{
    max-width: 20px;
    margin-right: 10px;
    color: white;
}
/* menu responsivo */

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.3rem 4rem; 
        
    }

    .nav-item{
        display: none;
    }

    .login-btn{
        display: none;
    }

    .mobile-menu{
        z-index: 999999;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: .5rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-btn{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-btn .button_login{
        width: 100%;
    }

    .open{
        display: block;
    }
}